
.pong-image {
  position: absolute;
  top: 24rem;
  width: 260px;
  height: 260px;
  transform-origin: center;
  animation: rotateAndMove 10s linear infinite;
  z-index: -4;
  left: 47%;
}

@keyframes rotateAndMove {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(150px) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(90deg) translateX(150px) rotate(90deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg) translateX(150px) rotate(180deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(270deg) translateX(150px) rotate(270deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(150px) rotate(360deg);
  }
}
